html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow: hidden;
}
a {
    color: #CFB53B;
}
h4 {
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    color: #CFB53B; 
    font-weight: 700; 
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-primary {
    background-color: #C3B091 !important;
    border: none !important;
    color: white !important;
    cursor: pointer;
    transition: 0.3s;
}

    .btn-primary:hover {
        background-color: #C19A6B !important;
        color: white !important;
    }

    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:focus:active {
        background-color: #A67C52 !important; /* darker shade for pressed state */
        border: none !important;
        color: white !important;
        box-shadow: none !important; /* removes blue glow */
        outline: none !important;
    }
